body {
  font-family: "Open Sans", sans-serif;
}

.visuality-hidden {
  display: none;
}

.header button {
  display: none;
}

h1, h2, h3, p, b {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.inner-wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.db {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header {
  width: 100%;
  min-height: 892px;
  border-bottom: 1px solid #455975;
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
          background-size: cover;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__top {
  height: 102px;
  border-bottom: 1px solid rgba(106, 82, 110, 0.2);
}

.header__top-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 102px;
}

.header__logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 190px;
  font-style: italic;
  font-size: 12px;
  line-height: 1.2;
  font-family: "Time new roman", serif;
}

.header__logo a {
  margin-right: 10px;
}

.header__logo p {
  margin-top: 2px;
}

.header__nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 102px;
}

.header__nav li {
  padding: 0 24px;
}

.header__nav a {
  position: relative;
  display: block;
  padding: 44px 0 41px 0;
  line-height: 14px;
  font-size: 13px;
  border-bottom: 3px solid transparent;
}

.header__nav a:hover {
  border-bottom: 3px solid #fff;
}

.header__search {
  position: relative;
  font-size: 12px;
  line-height: 14px;
}

.header__search input[type="text"] {
  padding: 15px;
  width: 220px;
  border: none;
  outline: none;
  background-color: white;
  -webkit-border-radius: 22px;
          border-radius: 22px;
}

.header__search input[type="submit"] {
  display: block;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  height: 13px;
  padding: 14px 0 14px 14px;
  font-size: 0;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__search input[type="submit"]:hover {
  cursor: pointer;
}

.header__go {
  width: 520px;
  margin-top: 263px;
  text-align: right;
}

.header__go b {
  display: block;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 70px;
  font-weight: normal;
}

.header__go a {
  display: inline-block;
  padding: 19px 75px;
  margin-bottom: 17px;
  -webkit-border-radius: 29px;
          border-radius: 29px;
  font-size: 18px;
  line-height: 20px;
  background-color: #8824cd;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.2);
}

.header__go a:hover {
  background-color: #631B96;
}

.header__go span {
  display: block;
  margin-right: 37px;
  font-size: 12px;
  line-height: 17px;
}

.features {
  width: 100%;
  min-height: 510px;
  padding-top: 78px;
  background-color: #2E3B4E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.features__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 820px;
  height: auto;
}

.features__item {
  max-width: 390px;
  padding-bottom: 58px;
}

.features__item h3 {
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}

.features__item p {
  font-size: 15px;
  line-height: 26px;
  color: #fff;
}

.pink {
  width: 100%;
  min-height: 539px;
  background-image: url("../img/bg-shape-features.png"), url("../img/pink.png");
  -webkit-background-size: 141px 72px, cover;
          background-size: 141px 72px, cover;
  background-position: center -37px, center top;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pink__inner {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 145px;
  text-align: center;
}

.pink__inner h3 {
  font: 35px/60px "Times New Roman", serif;
  padding-bottom: 5px;
}

.pink__inner p {
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 26px;
}

.pink__inner a {
  display: inline-block;
  padding: 0 100px;
  margin-bottom: 17px;
  -webkit-border-radius: 29px;
          border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  background-color: #fff;
  color: #d54c63;
}

.about {
  min-height: 495px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/about.jpg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: -124px 0;
}

.about__wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 471px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__desc {
  margin-top: 89px;
  width: 660px;
}

.about__desc h3 {
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #3a4d60;
}

.about__desc p {
  font-size: 19px;
  line-height: 31px;
  color: #3a4d60;
  padding-bottom: 31px;
}

.about__desc p:last-child {
  font-size: 15px;
  line-height: 26px;
  color: #3a4d60;
}

.experience {
  width: 100%;
  height: 551px;
  background: url("../img/experience.jpg");
  background-position: center 0;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.experience-wrap {
  max-width: 820px;
  margin: 0 auto;
  padding-top: 180px;
  text-align: center;
}

.experience__title {
  margin-bottom: 22px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  color: #fff;
}

.experience__text {
  font-size: 20px;
  line-height: 33px;
  color: #a87bb7;
  margin-bottom: 27px;
}

.experience__link {
  display: inline-block;
  padding: 19px 75px;
  margin-bottom: 16px;
  -webkit-border-radius: 29px;
          border-radius: 29px;
  font-size: 18px;
  line-height: 20px;
  background-color: #8824cd;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.2);
}

.experience__some {
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}

.author {
  width: 100%;
  min-height: 667px;
  background: url("../img/author.jpg");
  background-position: center 0;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.author__wrap {
  padding-top: 355px;
  width: 600px;
}

.author__link {
  display: inline-block;
  padding: 0 26px;
  border: 2px solid #fff;
  -webkit-border-radius: 33px;
          border-radius: 33px;
  font-size: 13px;
  line-height: 31px;
  margin-bottom: 20px;
}

.author__desc {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}

.author__person {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.author__photo {
  margin-right: 14px;
}

.author__about {
  font-size: 13px;
  line-height: 4px;
  font-weight: 400;
  color: #fff;
}

.about2 {
  width: 100%;
  min-height: 516px;
  background: url("../img/about2.jpg");
  background-position: 805px 0;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about2__desc {
  padding-top: 107px;
  width: 660px;
}

.about2__title {
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #3a4d60;
}

.about2__text {
  padding-bottom: 25px;
  font-size: 19px;
  line-height: 31px;
  color: #3a4d60;
}

.about2__text:last-child {
  font-size: 15px;
  line-height: 26px;
  color: #3a4d60;
}

.contacts {
  width: 100%;
  min-height: 460px;
  background-color: #e7526b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.contacts__wrap {
  padding-top: 71px;
}

.contacts__title {
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts__text {
  padding-bottom: 29px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
}

.contacts__link {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  text-decoration: underline;
}

.contacts__link:hover {
  color: #ccc;
}

.footer {
  padding-top: 37px;
  width: 100%;
  min-height: 367px;
  background-color: #2e3b4e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__text {
  font-size: 12px;
  line-height: 26px;
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 1288px) {
  .about__wrap {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 500px;
  }
  .about2 {
    background-position: 750px 0;
  }
}

@media screen and (max-width: 1240px) {
  .about__wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 540px;
  }
  .about2 {
    background-position: 600px 0;
  }
  .about2__desc {
    padding-top: 50px;
    width: 500px;
  }
}

@media screen and (max-width: 1050px) {
  .about__wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 540px;
  }
  .about__desc {
    margin-top: 40px;
    width: 660px;
  }
  .about2 {
    background-position: 500px 0;
  }
  .about2__desc {
    padding-top: 50px;
    width: 400px;
  }
}

@media screen and (max-width: 980px) {
  .header__logo {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 129px;
  }
  .about {
    background-position: -220px center;
  }
  .about__wrap {
    padding-left: 440px;
  }
  .about__desc {
    margin-top: 40px;
    width: 660px;
  }
  .about2 {
    background-position: 500px 0;
  }
  .about2__desc {
    padding-top: 50px;
    width: 400px;
  }
}

@media screen and (max-width: 930px) {
  .header__logo {
    padding-top: 6px;
    min-width: 50px;
  }
  .header__logo a {
    margin-top: 0;
  }
  .header__logo p {
    display: none;
  }
  .header__nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 102px;
  }
  .header__go {
    width: 520px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
  }
  .features__item {
    padding-right: 15px;
    max-width: 390px;
    padding-bottom: 58px;
  }
  .features__item {
    max-width: 365px;
    padding-bottom: 58px;
  }
  .about {
    background-position: -295px 0;
  }
  .about__wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 400px;
  }
  .about__desc {
    margin-top: 20px;
    width: 660px;
    padding-left: 10px;
  }
  .about2 {
    background-position: 450px 0;
  }
  .about2__desc {
    padding-top: 50px;
    width: 400px;
  }
}

@media screen and (max-width: 840px) {
  .header__top {
    height: 50px;
  }
  .header__top-wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 50px;
  }
  .header__logo {
    position: relative;
    max-width: 200px;
  }
  .header__logo p {
    display: block;
    margin-top: 2px;
  }
  .header__nav {
    position: absolute;
    top: 52px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 100%;
  }
  .header__nav li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    padding: 0 20px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px #000;
            box-shadow: 0 2px 2px #000;
  }
  .header__nav li:first-child {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .header__nav a {
    display: block;
    width: 100px;
    line-height: 14px;
    text-align: center;
    font-size: 13px;
    padding-top: 7px;
    border-bottom: none;
  }
  .header__nav li:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .header__nav a:hover {
    border-bottom: 3px solid transparent;
  }
  .header__search {
    padding-top: 9px;
  }
  .header__search input[type="text"] {
    padding: 10px;
    width: 220px;
    border: none;
    outline: none;
    background-color: white;
    -webkit-border-radius: 22px;
            border-radius: 22px;
  }
  .header__search input[type="submit"] {
    display: block;
    position: absolute;
    right: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 13px;
    padding: 15px 0 14px 14px;
    font-size: 0;
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: center 12px;
  }
  .about {
    background-position: -370px;
  }
  .about__wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 300px;
  }
  .about__desc {
    margin-top: 20px;
    width: 660px;
    padding-left: 10px;
  }
  .features__list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    max-width: 820px;
    height: auto;
  }
}
