html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 20px;
	width: 100%;
	min-height: 100vh;

	font-family: "Exo 2", "Arial", sans-serif;
	background-color: #15202b;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

*,
::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	margin: -1px;
	height: 1px;
	padding: 0;
	border: 0;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.icon {
	width: 40px;
	height: 40px;
}

.title.ind {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 20px;
	font-size: 60px;
	line-height: 60px;
}

.title.ind::before,
.title.ind::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
}

.title.ind::before {
	top: 0;
}

.title.ind::after {
	bottom: 0;
}

/*header*/

.header {
	margin-bottom: 30px;
	box-shadow: 0px 2px 10px 0px #000;
	background-color: #111;
}

.header.ind {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: rgba(17, 17, 17, 0.2);
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ind .nav__item:last-child {
	margin-left: 0;
}

.nav__item a {
	position: relative;
	display: block;
	padding: 20px;
	letter-spacing: 1px;
	color: orange;
}

.ind .nav__item a {
	position: relative;
	display: block;
	padding: 20px;
	letter-spacing: 1px;
	color: white;
}

.nav__item a:not([href]) {
	cursor: default;
}

.nav__item a[href]::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	color: orange;
	background-color: orange;
	cursor: pointer;
}

.ind .nav__item a[href]::before {
	background-color: #ffffff;
}

.nav__item a[href]:hover::before {
	height: 5px;
}

.active {
	background-color: #15202b;
}
/*help*/

.help {
	margin-bottom: 30px;
}

.help__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.help__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.help__inner:nth-child(2) {
	margin-left: auto;
}

.help__inner-prompt {
	align-self: center;
	margin-right: 50px;
	color: #ffbfff;
	text-transform: uppercase;
}

.help__inner-prompt:hover {
	color: rgba(255, 187, 255, 0.7);
}

.help__list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.help__item {
	margin-right: 10px;
}

.help__item a {
	position: relative;
	display: block;
	padding: 7px 4px;
	color: #ffff;
}

.help__item a::after {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #424242;
	transition: width 0.4s, background-color 0.8s;
}

.help__item a:hover::after {
	background-color: #ffbfff;
	width: 100%;
	transition: width 0.4s;
}

/*help -- reference*/

.reference,
.reference__sub-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reference {
	position: relative;
	z-index: 100;
	width: 160px;
	margin-left: auto;
	color: #ffbfff;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: default;
}

.reference::before {
	content: "";
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 3px;
	background-color: #424242;
	transition: width 0.5s, background-color 0.8s;
}

.reference:hover::before {
	width: 100%;
	background-color: #fff;
	transition: width 0.4s;
}

.reference__item {
	width: 100%;
}

.reference__item > span {
	display: block;
	width: 100%;
	text-align: center;
}

.reference__sub-list {
	position: absolute;
	top: 51px;
	left: 0;
	display: none;
	width: 100%;
}

.reference:hover .reference__sub-list {
	display: block;
	animation: visible 0.8s normal;
}

@keyframes visible {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.reference__sub-item {
	margin-bottom: 5px;
	color: #ffbfff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.reference__sub-item a {
	position: relative;
	display: block;
	padding: 10px;
	color: #000000;
	background-color: #ffbfff;
	text-transform: none;
	overflow: hidden;
}

.reference__sub-item a::after {
	content: "";
	position: absolute;
	right: -1px;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #fff;
}

.reference__sub-item a:hover::after {
	width: 15px;
}

/*globe style*/

.glob-sect {
	letter-spacing: 1px;
}

.glob-sect__title {
	position: relative;
	margin: 0;
	margin-bottom: 20px;
	padding: 10px;
	padding-left: 0;
	line-height: 24px;
	font-size: 20px;
	color: orange;
	font-weight: normal;
	cursor: pointer;
}

.glob-sect__inner {
	/*for js*/
	display: none;
}

.glob-sect__title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: orange;
}

.glob-sect__sub-title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 24px;
	color: #ffbfff;
	font-weight: normal;
}

.glob-sect__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, auto));
	grid-gap: 20px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;
	box-shadow: 0 0 0 transparent;
	transition: 0.3s;
}

.glob-sect__item:hover {
	box-shadow: 0 4px 7px #000;
	transition: 0.3s;
}

.glob-sect__item a {
	position: relative;
	z-index: 1;
	display: block;
	padding: 10px;
	border: 1px solid #ffbfff;
	text-align: center;
	color: #ffbfff;
	background-color: #15202b;
	transition: color 0.3s;
	overflow: hidden;
}

.articles .glob-sect__list {
	display: block;
}
.articles .glob-sect__item a {
	position: static;
	padding: 3px 0;
	border: none;
	text-align: left;
	background-color: transparent;
}

.articles .glob-sect__item a:hover {
	color: #ffffff;
}

.articles .glob-sect__item a::before {
	display: none;
}

/*font*/

.font {
	font-size: 18px;
	line-height: 1.3;
	color: #ffffff;
}

.font h2 {
	margin: 0;
	padding: 0;
}

.font a {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 7px;
	border: 2px solid #ffffff;
}

.font a:hover {
	background-color: #ffffff;
	color: #000000;
}

.font span {
	font-weight: bold;
}

/*pc*/

.service {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	box-shadow: 0px 2px 5px 0px #000000;
}

.service__link span {
	color: #ffffff;
}

.service__link {
	display: flex;
	align-items: center;
	margin-right: 30px;
	margin-bottom: 20px;
}

.service__img {
	height: 40px;
	transition: 0.3s;
}

.service__link:hover .service__img {
	-webkit-filter: drop-shadow(0px 0px 5px #000);
	filter: drop-shadow(0px 4px 3px #000);
	transition: all 0.3s;
}

.service.drivers .service__link span:hover,
.service .service__link span:hover {
	text-decoration: underline;
}

.service.drivers .service__link:last-child,
.service.torrents .service__link:last-child {
	margin-left: auto;
}

.service.sites > span.service__link {
	display: flex;
	align-items: center;
	margin: 0;
}

.service.sites > span.service__link {
	margin-left: auto;
}

.service.drivers .service__link:last-child span,
.service.torrents .service__link:last-child span,
.service.sites .service__link:last-child > .service__link span {
	color: orange;
}

@media (max-width: 650px) {
	.title.ind {
		font-size: 30px;
		line-height: 30px;
	}

	.help__wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.help__inner:nth-child(1) {
		margin-bottom: 10px;
	}

	.help__inner:nth-child(2) {
		justify-content: center;
		margin-left: 0;
	}

	.reference {
		padding-bottom: 15px;
	}

	.reference::before {
		bottom: 6px;
	}

	.reference__sub-list {
		top: 33px;
	}

	.reference:hover .reference__sub-list {
		opacity: 1;
	}

	.help__inner-prompt {
		margin-top: -15px;
	}

	.service {
		justify-content: center;
	}

	.service.drivers .service__link:last-child,
	.service.torrents .service__link:last-child {
		margin-left: 0;
	}

	.service.sites span.service__link {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.service.soft .service__link {
	color: #dabaf3;
}

.service.soft .service__link:hover {
	text-decoration: underline;
}

.my a {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border: 3px solid #ccc;
	font-size: 24px;
	color: #ccc;
}

.my a + span {
	display: inline-block;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 24px;
	color: #ccc;
}

.my a:hover {
	background-color: #ccc;
	color: #000;
}

.my.jq-selectbox {
	max-width: 500px;
	margin-bottom: 100px;
}

.my div,
.my ul {
	margin: 0;
	padding: 20px;
	list-style: none;
}

.my div,
.my li {
	position: relative;
	padding: 5px;
	padding-bottom: 40px;
	border: 2px solid yellow;
	border-radius: 4px;
}

.my .jq-selectbox__dropdown {
	background-color: gray;
}

.my li {
	margin-bottom: 10px;
	background-color: #a5a5a5ff;
}

.my div > span,
.my li span {
	position: absolute;
	bottom: -2px;
	right: -2px;
	padding: 3px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: yellow;
	font-weight: bold;
}

div.jq-selectbox__select {
	display: flex;
	margin-bottom: 20px;
	background-color: gray;
}

.jq-selectbox__select-text,
.jq-selectbox__trigger {
	background-color: #a5a5a5ff;
}

.my .jq-selectbox__select-text {
	width: 80%;
	margin-right: 10px;
}

.jq-selectbox__trigger {
	width: 20%;
}

.my .jq-selectbox__trigger span {
	right: -160px;
}

.jq-selectbox__trigger-arrow {
	background-color: #fff;
}

/* solution */

.solution {
	margin-bottom: 30px;
}

.solution__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.solution__item {
	margin-right: 5px;
	margin-bottom: 15px;
}

.solution__link {
	display: grid;
	place-items: center;
	padding: 10px;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 10px;
}

.solution__dropdown {
	display: none;
}

.solution__dropdown a {
	position: relative;
	display: block;
	padding: 10px;
	padding-left: 3px;
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

.solution__dropdown a::after {
	content: "";
	position: absolute;
	right: 3px;
	top: 11px;
	width: 20px;
	height: 20px;
	background-image: url("../img/direct-download.svg");
}

.solution__item:hover .solution__dropdown {
	display: block;
}

/* portfolio */

:root {
	--level-one: translateZ(2rem);
	--level-two: translateZ(3rem);
	--level-three: translateZ(3rem);

	--fw-normal: 400;
	--fw-bold: 700;

	--clr: #b7c9e5;
}

.wrap {
	display: flex;
	justify-content: center;
	/* background-color: blue; */
}

.portfolio {
	display: inline-block;
	text-align: center;
}

.portfolio__list-item {
	width: 300px;
	min-height: 400px;
	margin-right: 0;
	margin-bottom: 30px;
}

.portfolio__list-item:last-child {
	margin-right: 0;
}

.card,
.card__front,
.card__back {
	width: 300px;
}

.card__content {
	text-align: center;
	position: relative;
	padding: 0;
	transition: transform 1s;
	// background: pink;
	transform-style: preserve-3d;
}

.card:hover .card__content {
	transform: rotateY(0.5turn);
}

.card__front,
.card__back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 400px;
	padding: 10px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.card__front {
	background-color: var(--clr);
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);
	background-size: cover;
	background-blend-mode: overlay;
	color: #333;
}

.card__front::before {
	content: "";
	position: absolute;
	--spacer: 10px;
	top: var(--spacer);
	bottom: var(--spacer);
	left: var(--spacer);
	right: var(--spacer);
	border: 3px solid currentColor;
	transform: var(--level-one);
}

.card__title {
	font-size: 3.5rem;
	transform: var(--level-three);
	text-transform: uppercase;
}

.card__subtitle {
	transform: var(--level-two);
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 0.75rem;
	font-weight: var(--fw-bold);
	opacity: 0.7;
}

.card__body {
	transform: var(--level-two);
	font-weight: var(fw-normal);
	font-size: 1.5rem;
	line-height: 1.6;
}

.card__back {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 70px 0;
	transform: rotateY(0.5turn);
	color: var(--clr);
	background: #333;
}

.card__back > a {
	color: #fff;
}

.card__back a:hover {
	text-decoration: underline;
}

.card__back p {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 80px;
	font-size: 20px;
}
/* ====================== */

/* hungry-people */

.card--hungry-people .card__front {
	background-image: url("../img/rectangle.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.card--hungry-people .card__front::before {
	border: 3px solid #e8c300;
}

.card--hungry-people .card__title {
	color: #000000;
	font-size: 42px;
}

/* mishka */

.card--mishka .card__front {
	background-image: url("../img/mishka.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.card--mishka .card__front::before {
	border: 3px solid #56c3b2;
}

.card--mishka .card__title {
	color: #444;
}

/* Drive Moto */

.card--drive-moto .card__front {
	background-image: url("../img/drive.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.card--drive-moto .card__front::before {
	border: 3px solid#1c62cd;
}

.card--drive-moto .card__title {
	margin-top: 70px;
	font-size: 38px;
	line-height: 38px;
	color: #222;
}

/* Technomart */

.card--technomart .card__front {
	background-image: url("../img/tech.jpg");
	background-repeat: no-repeat;
	background-position: center right -220px;
}

.card--technomart .card__front::before {
	border: 3px solid #32425c;
}

.card--technomart .card__title {
	margin-top: 70px;
	font-size: 28px;
	line-height: 38px;
	color: #293449;
}

/* Spinner */

.card--spinner .card__front {
	background-image: url("../img/spinner.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.card--spinner .card__front::before {
	border: 3px solid rgba(94, 9, 5, 0.8);
}

.card--spinner .card__title {
	margin-top: 70px;
	font-size: 28px;
	line-height: 38px;
	color: #5e0905;
}

/* ====================== */

@media (min-width: 620px) {
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 500px;
	}

	.portfolio__list-item {
		margin-right: 0;
	}
}

@media (min-width: 900px) {
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 670px;
	}

	.portfolio__list-item {
		margin-right: 30px;
	}

	.portfolio__list-item:nth-child(even) {
		margin-right: 0;
	}
}

@media (min-width: 1200px) {
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 1000px;
	}

	.portfolio__list-item {
		margin-right: 30px;
	}

	.portfolio__list-item:nth-child(even) {
		margin-right: 30px;
	}
	.portfolio__list-item:nth-child(odd) {
		margin-right: 30px;
	}
	.portfolio__list-item:nth-child(3) {
		margin-right: 0;
	}
}
