* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

p {
	margin: 0;
}

a {
	font-family: inherit;
	color: inherit;
}

.header {
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: rgb(177, 165, 230);
}

.header ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	height: 40px;
}

.header li {
	height: 100%;
}

.header li.current a {
	background-color: #e61c38;
	pointer-events: none;
}

.header a {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	text-decoration: none;
	font-weight: 700;
	color: #ffffff;
}

.header a:hover {
	background-color: #e61c38;
}

.wrapper {
	padding: 20px;
	padding-top: 0;
}

.wrapper ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	min-width: 320px;
}
@media (max-width: 1600px) {
	.wrapper ul {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media (max-width: 1200px) {
	.wrapper ul {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 991px) {
	.wrapper ul {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 767px) {
	.wrapper ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 575px) {
	.wrapper ul {
		grid-template-columns: repeat(1, 1fr);
	}
}
.wrapper li {
	position: relative;
}
.wrapper li:before {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 20px;
	right: 20px;
	height: 1px;
	background-color: #e5e5e5;
}
.wrapper li:after {
	content: "";
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: -1px;
	width: 1px;
	background-color: #e5e5e5;
}

.wrapper li:hover,
.wrapper li:focus {
	z-index: 10;
	box-shadow: 3px 3px 20px rgba(229, 229, 229, 0.9);
	border-radius: 10px;
	background-color: #e61c38;
}
.wrapper li:hover:before,
.wrapper li:focus:before {
	left: 0;
	right: 0;
	height: 1px;
	background-color: transparent;
}
.wrapper li:hover:after,
.wrapper li:focus:after {
	top: 0;
	bottom: 0;
	right: -1px;
	width: 1px;
	height: 100%;
	background-color: transparent;
}

.wrapper li:hover > .item {
	color: #fff;
}
.wrapper li:hover > .item:before {
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: transparent;
}
.wrapper li:hover > .item:after {
	top: 0;
	bottom: 0;
	height: 100%;
	width: 1px;
	background-color: transparent;
}

.wrapper li:hover > .item .content {
	color: #fff;
}

.wrapper .item {
	position: relative;
	display: block;
	height: 100%;
	padding: 20px;
	text-decoration: none;
}
.wrapper .item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	height: 1px;
	background-color: #e5e5e5;
}
.wrapper .item:after {
	content: "";
	position: absolute;
	left: 0;
	top: 20px;
	bottom: 20px;
	width: 1px;
	background-color: #e5e5e5;
}
.wrapper .content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #000;
}

.wrapper .content-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: "Quicksand", sans-serif;
	text-align: center;
}

.wrapper .content-about b {
	display: block;
	font-weight: 400;
}

.wrapper li:hover .content-title {
	color: #fff;
}
.wrapper li:hover .content-link {
	border-bottom: 1px solid #fff;
	color: #fff;
}

/* modules */

.bodules {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 30px 20px;
	padding-top: 0;
}

.block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
