@font-face {
  font-family: "Source Serif";
  src: url("../fonts/Sourceserifpro.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Light";
  src: url("../fonts/Sourceserifprolight.woff") format("woff");
}

@font-face {
  font-family: "Source Serif Bold";
  src: url("../fonts/Sourceserifprobold.woff2") format("woff2");
}

.wraper {
  margin: 0 auto;
  width: 1440px;
  font-size: 16px;
  font-family: "Source Serif", serif;
  background-color: #fff;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: 96px 169px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 58px;
  color: #212021;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 43px;
  color: #212021;
}

p, b {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #212021;
}

.header {
  width: 100%;
  height: 780px;
  background-image: url("../img/bg-header.gif");
  background-position: right 0;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  margin-bottom: 276px;
}

.header__main-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 76px;
}

.header__nav {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-left: 82px;
  color: #212021;
}

.header__nav::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -14px;
  display: block;
  width: 459px;
  height: 4px;
  background-color: #fff;
}

.header__nav li {
  z-index: 1;
  padding-right: 87px;
}

.header__nav li a {
  font-size: 18px;
  color: rgba(33, 32, 33, 0.6);
}

.header__main-nav > a {
  margin-top: 34px;
  margin-left: 66px;
  font-size: 19px;
  color: #878787;
}

.header__main-cont {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 83px;
}

.side-nav {
  margin-left: 20px;
  margin-top: 108px;
}

.side-nav li a {
  display: block;
  height: 38px;
  width: 11px;
  border-bottom: 1px solid #c8c9ca;
  text-align: center;
  font-size: 14px;
  line-height: 37px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #212021;
}

.side-nav li a:not([href]) {
  display: block;
  height: 35px;
  width: 37px;
  border-bottom: 2px solid #000;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 37px;
  font-family: "Lato", sans-serif;
  color: #212021;
}

.header__desc {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__desc::before {
  content: "Food";
  position: absolute;
  top: 105px;
  left: 65px;
  display: inline-block;
  font-size: 83.5px;
  letter-spacing: 1px;
  color: #fff;
  z-index: -1;
}

.header__desc::after {
  content: "Photogrphy";
  position: absolute;
  top: 166px;
  left: 287px;
  display: inline-block;
  font-size: 52px;
  letter-spacing: 0.5px;
  color: #fff;
  z-index: -1;
}

.header__desc-inner {
  font-family: "Source Serif Light";
  padding-top: 142px;
  margin-right: 132px;
  padding-left: 98px;
}

.header__desc-title {
  font-family: "Source Serif";
  margin-bottom: 27px;
}

.header__desc-text {
  margin-bottom: 33px;
  font-family: "Source Serif Light";
  color: #000;
}

.header__desc-link {
  position: relative;
  margin-left: -3px;
  font-weight: bold;
  font-size: 17px;
  font-family: "Arial";
  text-transform: uppercase;
  color: #000;
}

.header__desc-link::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 2px;
  display: block;
  height: 2px;
  width: 150px;
  background-color: #000;
}

.header__desc-link::before {
  content: "";
  position: absolute;
  bottom: 8px;
  right: -30px;
  display: block;
  height: 2px;
  width: 26px;
  background-color: #000;
}

.header__instagram-facebook {
  display: block;
  margin-left: 153px;
  padding-top: 32px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(33, 32, 33, 0.4);
}

.portfolio {
  margin-bottom: 152px;
}

.portfolio__title {
  position: relative;
  margin-bottom: 97px;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4.4px;
  z-index: 1;
}

.portfolio__title::before {
  content: "WORK";
  position: absolute;
  top: -3px;
  left: 513px;
  display: inline-block;
  font-size: 101px;
  letter-spacing: 38px;
  color: rgba(248, 248, 248, 0.3);
  z-index: -1;
}

.portfolio__inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.portfolio__side-nav {
  margin-top: 397px;
  margin-right: 42px;
  margin-left: 88px;
}

.portfolio__side-nav li a:not([href]) {
  position: relative;
  top: 12px;
  right: 26px;
  display: block;
  height: 35px;
  width: 37px;
  border-bottom: 2px solid #000;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 37px;
  font-family: "Lato", sans-serif;
  color: #212021;
}

.portfolio__side-nav--active {
  margin-bottom: 5px;
}

.portfolio__works-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
}

.portfolio__works-item,
.portfolio__works-item2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__works-item:nth-child(1) {
  margin-top: 172px;
  margin-right: 30px;
}

.portfolio__works-item:nth-child(1) img {
  display: block;
  margin-bottom: 16px;
}

.portfolio__works-item:nth-child(1) span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.portfolio__works-item:nth-child(2) {
  margin-right: 30px;
}

.portfolio__works-item2:first-child {
  margin-bottom: 91px;
}

.portfolio__works-item2:first-child img {
  display: block;
  margin-bottom: 19px;
}

.portfolio__works-item2:first-child span {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
}

.portfolio__works-item2:last-child {
  margin-bottom: 0;
}

.portfolio__works-item2:last-child img {
  display: block;
  margin-bottom: 16px;
}

.portfolio__works-item2:last-child span {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.portfolio__works-item:nth-child(3) {
  margin-top: 200px;
}

.portfolio__works-item:nth-child(3) img {
  display: block;
  margin-bottom: 19px;
}

.portfolio__works-item:nth-child(3) span {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.portfolio__instagram-facebook {
  display: inline-block;
  height: 20px;
  margin-top: 521px;
  margin-left: 6px;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(33, 32, 33, 0.4);
}

.portfolio-detail {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 971px;
  height: 375px;
  margin-bottom: 395px;
  background-color: #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-detail__inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 86px;
}

.portfolio-detail__inner::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 419px;
  display: block;
  width: 709px;
  height: 468px;
  border: 8px solid #8eb574;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-detail__pic-wrap {
  z-index: 1;
}

.portfolio-detail__desc {
  margin-top: 34px;
  margin-left: 30px;
  font-size: 20px;
  background-image: url("../img/pdf-ico.png");
  background-repeat: no-repeat;
  background-position: 197px 173px;
}

.portfolio-detail__title {
  margin-bottom: 19px;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

.portfolio-detail__text {
  margin-bottom: 35px;
}

.portfolio-detail__text span {
  white-space: nowrap;
}

.portfolio-detail__link-file {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  font-family: "Arial";
  text-transform: uppercase;
  color: #000;
  z-index: 2;
}

.portfolio-detail__link-file::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 2px;
  display: block;
  height: 2px;
  width: 172px;
  background-color: #000;
}

.portfolio-detail__link-file::before {
  content: "";
  position: absolute;
  bottom: 7px;
  right: -45px;
  display: block;
  height: 2px;
  width: 26px;
  background-color: #000;
}

.portfolio-detail__instagram-facebook {
  display: inline-block;
  height: 20px;
  margin-top: 225px;
  margin-left: 385px;
  white-space: nowrap;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(33, 32, 33, 0.4);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about {
  margin-bottom: 232px;
}

.about__title {
  position: relative;
  margin-bottom: 30px;
  margin-left: 22px;
  text-align: center;
  letter-spacing: 4px;
  z-index: 1;
}

.about__title::before {
  content: "ABOUT";
  position: absolute;
  top: 2px;
  left: 466px;
  display: inline-block;
  font-size: 101px;
  letter-spacing: 38px;
  color: rgba(248, 248, 248, 0.3);
  z-index: -1;
}

.about__inner,
.about__detail,
.about__detail-pic-wrap:last-child {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__side-nav {
  margin-top: 135px;
  margin-right: 0;
  margin-left: 88px;
  z-index: 1;
}

.about__side-nav li a:not([href]) {
  position: relative;
  top: 12px;
  right: 26px;
  display: block;
  height: 35px;
  width: 37px;
  border-bottom: 2px solid #000;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 37px;
  font-family: "Lato", sans-serif;
  color: #212021;
}

.about__side-nav--active {
  margin-bottom: 5px;
}

.about__inner {
  position: relative;
}

.about__detail-pic-wrap:first-child {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  width: 378px;
  height: 338px;
  background-color: #f8f8f8;
}

.about__detail-pic-wrap:first-child img {
  display: block;
  margin-top: 51px;
  margin-left: 166px;
}

.about__detail-pic-wrap:last-child {
  position: relative;
  margin-top: 141px;
  margin-left: 503px;
  padding-top: 54px;
  padding-left: 251px;
  width: 645px;
  height: 483px;
  background-color: #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__detail-pic-wrap:last-child img {
  position: absolute;
  top: -27px;
  left: -116px;
}

.about__detail-desc {
  width: 330px;
}

.about__detail-text:nth-child(1) {
  margin-bottom: 25px;
}

.about__detail-text:nth-child(2) {
  margin-bottom: 35px;
}

.about__detail-contacts a {
  color: #000;
  font-weight: bold;
}

.about-detail__link {
  position: relative;
  display: block;
  margin-top: 46px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Arial";
  text-transform: uppercase;
  color: #000;
  z-index: 2;
}

.about-detail__link::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  display: block;
  height: 2px;
  width: 220px;
  background-color: #000;
}

.about-detail__link::before {
  content: "";
  position: absolute;
  bottom: 7px;
  right: 122px;
  display: block;
  height: 2px;
  width: 26px;
  background-color: #000;
}

.about__instagram-facebook {
  display: inline-block;
  height: 20px;
  margin-top: 334px;
  margin-left: 6px;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(33, 32, 33, 0.4);
}

.price {
  margin-bottom: 250px;
}

.price__title {
  position: relative;
  margin-bottom: 191px;
  text-align: center;
  letter-spacing: 3.7px;
  z-index: 1;
}

.price__title::before {
  content: "PRICE";
  position: absolute;
  top: 2px;
  left: 502px;
  display: inline-block;
  font-size: 101px;
  letter-spacing: 38px;
  color: rgba(248, 248, 248, 0.3);
  z-index: -1;
}

.price__inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.price__side-nav {
  position: relative;
  margin-top: 230px;
  margin-right: 41px;
  margin-left: 88px;
}

.price__side-nav::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -89px;
  display: block;
  width: 175px;
  height: 288px;
  background-color: #f8f8f8;
}

.price__inner .side-nav li a {
  position: relative;
  display: block;
  height: 38px;
  width: 11px;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 14px;
  line-height: 37px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #212021;
  z-index: 2;
}

.price__side-nav li a:not([href]) {
  position: relative;
  top: 12px;
  right: 26px;
  display: block;
  height: 35px;
  width: 37px;
  border-bottom: 2px solid #000;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 37px;
  font-family: "Lato", sans-serif;
  color: #212021;
}

.price__works {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  z-index: 100;
}

.price__works-about {
  font-family: "Source Serif Bold";
  font-size: 23.99px;
  letter-spacing: 1.5px;
  word-spacing: -3px;
  color: #8eb574;
}

.price__works-list:nth-child(1) {
  margin-top: 172px;
  margin-right: 30px;
  text-align: center;
}

.price__works-list:nth-child(1) img {
  margin-bottom: 41px;
}

.price__works-list:nth-child(1) .price__works-about {
  display: block;
  margin-left: -62px;
  margin-bottom: 41px;
  line-height: 0;
}

.price__works-list:nth-child(1) .price__works-about span {
  display: block;
  margin-top: 24px;
  margin-left: 173px;
  font-size: 19px;
}

.price__works-list:nth-child(1) .price__works-desc {
  font-size: 17.98px;
  line-height: 23.97px;
}

.price__works-list:nth-child(2) {
  margin-right: 30px;
}

.price__works-list:nth-child(2) img {
  margin-bottom: 52px;
}

.price__works-list:nth-child(2) .price__works-about {
  display: block;
  margin-left: 47px;
  margin-bottom: 38px;
  line-height: 0;
}

.price__works-list:nth-child(2) .price__works-about span {
  display: block;
  margin-top: 26px;
  margin-left: 83px;
  font-size: 19px;
}

.price__works-list:nth-child(2) .price__works-desc {
  font-size: 17.98px;
  line-height: 23.97px;
  text-align: center;
}

.price__works-list:nth-child(3) {
  position: relative;
  margin-top: 200px;
}

.price__works-list:nth-child(3)::before {
  position: absolute;
  top: 50px;
  left: 315px;
  content: "";
  display: block;
  width: 168px;
  height: 292px;
  background-color: #f8f8f8;
}

.price__works-list:nth-child(3) img {
  margin-bottom: 41px;
}

.price__works-list:nth-child(3) .price__works-about {
  display: block;
  margin-left: 52px;
  margin-bottom: 27px;
  line-height: 0;
}

.price__works-list:nth-child(3) .price__works-about span {
  display: block;
  margin-top: 24px;
  margin-left: 80px;
  font-size: 19px;
}

.price__works-list:nth-child(3) .price__works-desc {
  font-size: 17.98px;
  line-height: 23.97px;
  text-align: center;
}

.price__instagram-facebook {
  position: relative;
  top: 382px;
  left: 8px;
  display: inline-block;
  height: 20px;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(33, 32, 33, 0.2);
  z-index: 101;
}

.contacts {
  margin-bottom: 192px;
}

.contacts__title {
  margin-bottom: 102px;
  margin-left: 5px;
  text-align: center;
  letter-spacing: 4px;
}

.contacts__links,
.contacts__social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__links {
  position: relative;
  margin-right: 10px;
  margin-bottom: 69px;
  z-index: 1;
}

.contacts__links::before {
  content: "CONTACTS";
  position: absolute;
  top: -67px;
  left: 298px;
  display: inline-block;
  font-size: 131px;
  letter-spacing: 27px;
  color: rgba(248, 248, 248, 0.3);
  z-index: -1;
}

.contacts__links li {
  margin-right: 85px;
}

.contacts__links li b,
.contacts__links li a,
.contacts__links li span {
  font-weight: bold;
  font-size: 18.43px;
  color: #4e4d4e;
}

.contacts__links li span {
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2.5px;
  color: #8eb574;
}

.contacts__links li:nth-child(1) {
  letter-spacing: 1.5px;
}

.contacts__links li:nth-child(2) b {
  letter-spacing: 1.5px;
}

.contacts__links li:nth-child(2) a {
  letter-spacing: 1.8px;
}

.contacts__links li:nth-child(3) {
  margin-right: 0;
}

.contacts__links li:nth-child(3) span {
  letter-spacing: 1.5px;
}

.contacts__links li:nth-child(3) b {
  font-size: 18px;
  letter-spacing: 1.5px;
  word-spacing: -2px;
}

.contacts__social-bg {
  display: block;
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: #4e4d4e;
}

.contacts__facebook,
.contacts__instagram,
.contacts__vkontakte,
.contacts__pinterest {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 24px 24px;
          background-size: 24px 24px;
}

.contacts__social li {
  margin-right: 20px;
}

.contacts__social li:last-child {
  margin-right: 0;
}

.contacts__facebook {
  background-image: url("../img/facebook.png");
}

.contacts__instagram {
  background-image: url("../img/instagram.png");
}

.contacts__vkontakte {
  background-image: url("../img/vk.png");
}

.contacts__pinterest {
  background-image: url("../img/pinterest.png");
}
