html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Exo 2", "Arial", sans-serif;
	color: #eee8e8;
	background: #161b22;
}

*,
::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	margin: -1px;
	height: 1px;
	padding: 0;
	border: 0;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

:root {
	--css-color-selector-name: #5a81b5;
	--css-color-brace: #eee8e8;
	--css-color-value: #7e6969;
	--css-color-prop: #d19a66;

	--html-color-selector-name: var(--css-color-selector-name);
	--html-color-selector-tag: var(--css-color-value);
	--html-color-tags: var(--css-color-prop);
	--html-color-text: var(--css-color-brace);

	--color-coments: #666c76;
}

/* ============================ */
/* ============================ */

.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

@media (min-width: 768px) {
	.wrapper {
		padding: 0 20px;
	}
}

.top {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	min-height: 50px;
	margin-top: 13px;
	margin-bottom: 13px;
	padding-right: 25px;
	padding-left: 25px;
	background: #dbe6f1;
	border-radius: 27px;
}

.top__logo {
	order:-3;
}

.top__logo[href]:hover span {
	color: #000;
}

.top__logo span {
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	color: #181a1c;
}

.top__logo span:last-child {
	font-size: 6px;
}

.top__link {
	height: 35px;
}

.top__link.top__link--git {
	order: -1;
}

.top__link.top__link--codepen {
	margin-right: 20px;
	margin-left: auto;
	order: -2;
}

.top__link:hover svg {
	fill: #333e4e;
}

.info {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1px;
	overflow: hidden;
}

.info.info--opti {
	margin-bottom: 8px;
}

/* info--dropdown =========================== */
/* info--dropdown =========================== */

.info.info--dropdown > ul {
	display: flex;
	overflow: auto;
}

.info.info--dropdown > ul > li:hover > a {
	background: #cde0f3;
}

.info.info--dropdown > ul > li > .info__link {
	display: block;
}

.info.info--dropdown > ul > li > a {
	display: block;
}

.info.info--dropdown > ul > li > a + div {
	position: absolute;
	top: 116px;
	left: 11px;
	right: 11px;
	z-index: 100;
	display: none;
	padding-top: 2px;
	color: #000;
	-webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.info.info--dropdown > ul > li:hover div {
	display: block;
}

.info.info--dropdown .info__link:focus + div,
.info.info--dropdown .info__link:hover + div {
	display: block;
}

/* .info-content  */
/* .info-content  */

.info-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	padding: 15px 20px;
	padding-top: 25px;
	padding-bottom: 0;
	font-size: 14px;
	line-height: 16px;
	background: #cde0f3;
	overflow-x: auto;
}

.info-content__item {
	min-width: 20%;
	margin-right: 20px;
	margin-bottom: 20px;
	/* background-color: red; */
}

.info-content__title {
	margin-bottom: 5px;
	padding-left: 10px;
}

.info-content__link {
	display: block;
	padding-left: 10px;
	line-height: 1.7;
}

.info-content__link:hover {
	background: #4c5d6e;
	color: #eaf0f7;
}

/* .info-content  */
/* .info-content  */

@media (min-width: 768px) {
	.info.info--dropdown > ul > li > a + div {
		left: 21px;
		right: 21px;
	}
}

/* info--dropdown =========================== */
/* info--dropdown =========================== */

.info__link {
	flex-grow: 1;
	text-align: center;
	line-height: 1.4;
	margin: 1px;
	padding: 15px 20px;
	letter-spacing: 1px;
	background: #dbe6f1;
	color: #21213c;
}

.info__link:hover {
	background: #cde0f3;
}

.elements {
	margin-bottom: 10px;
}

.elements__inner {
	display: flex;
	flex-wrap: wrap;
}

.elements__inner a {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1px;
	padding: 15px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	color: #181a1c;
	background: #dbe6f1;
}

.elements__inner a:hover {
	background: #cde0f3;
}

/* ============================ */
/* ============================ */

.box-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #d19a66;
}

.box-top__title {
	line-height: 1;
}

.box-top__demo {
	margin-top: -5px;
	padding: 10px;
	border-radius: 6px;
	border: 2px solid #d19a66;
	color: #5a81b5;
	text-align: center;
	letter-spacing: 2px;
}

.box-top__demo:hover {
	border: 2px solid #5a81b5;
	color: #d19a66;
}

.about-code__item {
	display: block;
}

.about-code .code {
	overflow: visible;
}

.about-code__item .code {
	display: inline-flex;
}

@media (min-width: 768px) {
	.about-code__item {
		display: flex;
		align-items: center;
	}

	.about-code__item .code {
		display: auto;
	}
}

.about-code__item .class {
	flex-shrink: 0;
	flex-grow: 2;
	overflow: hidden;
}

.about-code__text {
	flex-shrink: 35;
	margin-left: 10px;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 1px;
	padding-bottom: 11px;
}

.about-code .code {
	padding: 2px 15px;
	margin-right: 7px;
	margin-bottom: 10px;
}

/* блок с кодом */
.code {
	display: flex;
	margin-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 12px;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.5;
	background: #0d1117;
	overflow: auto;
}

@media (min-width: 768px) {
	.code {
		margin-bottom: 20px;
	}
}

.code pre {
	margin: 0;
	padding: 0;
}

.code .tag {
	color: var(--css-color-selector-name);
}

.code .value {
	color: var(--css-color-value);
}

.code .prop {
	color: var(--css-color-prop);
}

.code .brace {
	color: var(--css-color-brace);
}

.code .coments {
	display: inline-block;
	margin-bottom: 5px;
	font-style: italic;
	color: var(--color-coments);
}

.code .class {
	color: var(--html-color-selector-name);
}

.code .class.class--nbsp {
	white-space: nowrap;
}

.code .html-tags {
	color: var(--html-color-tags);
}

.code .html-text {
	color: var(--html-color-text);
}

.code .html-selector {
	color: var(--html-color-selector-tag);
}

/* ============================ */
/* ============================ */
