@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Orbitron"),
       url("/fonts/Orbitron-Bold.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	color: #eee8e8;
	background: #161b22;
}

*, ::before, *::after {
  box-sizing: inherit;
}

img {
	display: block;
  max-width: 100%;
  height: auto;
}

a {
	color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	margin: -1px;
	height: 1px;
	padding: 0;
	border: 0;
	-webkit-clip-path: inset(100%);
					clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


:root {
	--css-color-selector-name: #5a81b5;
	--css-color-brace: #eee8e8;
	--css-color-value: #7e6969;
	--css-color-prop: #d19a66;
	
	--html-color-selector-name: var(--css-color-selector-name);
	--html-color-selector-tag: var(--css-color-value);
	--html-color-tags: var(--css-color-prop);
	--html-color-text: var(--css-color-brace);

	--color-coments: #666c76;
}

/* ============================ */
/* ============================ */

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2px;
}

@media (min-width: 768px) {
	.wrapper {
	padding: 0 20px;
}
}


.top {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 25px;
}

.top__logo {
	position: relative;
	padding: 10px 20px;
	padding-bottom: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	background: red;
box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.8);
}

.top__logo span {
	position: absolute;
	right: 2px;
	bottom: 2px;
	text-align: center;
	font-size: 5px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1px;
}

.info__link {
	flex-grow: 1;
	text-align: center;
	line-height: 1.4;
	margin: 1px;
	padding: 20px;
	letter-spacing: 1px;
	background: #cecfee;
  color: #21213c;
}

.info__link:hover {
	background: #b4b6f0;
}

.info--opti .info__link {
	background: #f9d0ca;
}

.info--opti .info__link:hover {
	background: #fabcb2;
}

.info--self .info__link {
	background: #fcdd9c;
}

.info--self .info__link:hover{
	background: #f8d07b;
}

.elements__inner {
	display: flex;
	flex-wrap: wrap;

}

.elements__inner a {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1px;
	padding: 20px 30px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	background: #214267;
}

.elements__inner a:hover {
	background: #0f325a;
}


/* ============================ */
/* ============================ */

.box-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	margin: 40px 10px;
	margin-right: 40px;
	font-weight: bold;
	color: #d19a66;
	letter-spacing: 1px;
}

.box-top__title {
	margin-right: 20px;
	margin-bottom: 10px;
}

.box-top__demo {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 6px;
	border: 2px solid #d19a66;
	color: #5a81b5;
	text-align: center;
	letter-spacing: 2px;
}

.box-top__demo:hover {
	border: 2px solid #5a81b5;
	color: #d19a66;
}

.about-code {
	margin-bottom: 10px;
}
.about-code__item {
		display: block;
	}

	.about-code__item .code {
		display: inline-flex;
	}

@media (min-width: 768px) {
	.about-code__item {
	display: flex;
	align-items: center;
}

.about-code__item .code {
		display: auto;
	}
	
}

.about-code__item .class {
	flex-shrink: 0;
	flex-grow: 2;
	overflow: hidden;
}

.about-code__text {
	flex-shrink: 35;
	margin-left: 10px;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 1px;
	padding-bottom: 11px;
}

.about-code .code {
	padding: 2px 15px;
	margin-right: 7px;
	margin-bottom: 10px;
}

/* блок с кодом */
.code {
	display: flex;
	margin-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 12px;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.5;
	background: #0d1117;
	overflow: auto;
}

.code pre {
	margin: 0;
	padding: 0;
}

.code .tag {
	color: var(--css-color-selector-name);
}

.code .value {
	color: var(--css-color-value);
}

.code .prop {
	color: var(--css-color-prop);
}

.code .brace {
	color: var(--css-color-brace);
}

.code .coments {
	display: inline-block;
	margin-bottom: 5px;
	font-style: italic;
	color: var(--color-coments);
}

.code .class {
	color: var(--html-color-selector-name);
}

.code .class.class--nbsp {
	white-space: nowrap;
}

.code .html-tags {
	color: var(--html-color-tags);
}

.code .html-text {
	color: var(--html-color-text);
}

.code .html-selector {
	color: var(--html-color-selector-tag);
}


/* ============================ */
/* ============================ */


