html {
  box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
  margin: 0;
}

*, ::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
	color: #000;
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	margin: -1px;
	height: 1px;
	padding: 0;
	border: 0;
	-webkit-clip-path: inset(100%);
					clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*================*/

.header {
	max-width: 100%;
	background-color: #4a435f;
}

.header.header--doc {
	position: fixed;
}

.wrapper {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 10px;
}

.inner {
	height: 300px;
}

.nav__list {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__item,
.nav__item-link a {
	display: block;
	min-height: 50px;
	padding: 17px 42px;
	font-size: 14px;
	line-height: 16px;
	color: #eadce8;
	text-transform: uppercase;
}

.nav__item-link {
	margin-left: auto;
}

.nav__item:hover {
	background-color: #eadce8;
	color: #4a435f;
	cursor: default;
}

.nav__item-link:hover a {
	background-color: #eadce8;
	color: #4a435f;
	cursor: pointer;
}

.nav__list-sub {
	position: absolute;
	top: 50px;
	left: 0;
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #eadce8;
}



.nav__item:hover .nav__list-sub {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.nav__item-sub {
	flex-grow: 2;
}

.nav__item-sub a {
	display: block;
	flex-shrink: 0;
	padding: 24px;
	padding-right: 0;
	text-transform: none;
}

.nav__item-sub:hover {
	background-color: #e4d0e1;
}

.nav__list-sub:first-child .nav__item-sub:nth-child(2) {
	flex-shrink: 4;
}

.nav__item-sub a {
	color: #4a435f;
}

.nav__item-sub-title {
	display: block;
	margin-bottom: 6px;
	font-weight: bold;
}

.nav__item-sub-name {
	text-transform: none;
}


.nav__item > span {
	font-weight: bold;
}

/*========================================*/


.nav__list--doc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.nav__prev {
	display: block;
	width: 30px;
	height: 30px;
	padding: 4px;
}

.nav__prev svg {
	fill: #fff;
}

.nav__prev:hover svg {
	fill: #e4d0e1;
}

.nav__list-sub--instr-height-2 {
	top: 66px;
}

.nav__item.nav__item--doc {
	background-color: #4a435f ;
	color: #eadce8;
}

.nav__item.nav__item--doc:hover {
	color: #e4d0e1;
}

.nav__item:hover .nav__list-sub.nav__list-sub--instr {
	display: block;
}

.nav__list-sub.nav__list-sub--instr a {
	flex-shrink: 0;
	padding: 10px 70px;
	padding-right: 0;
	text-transform: none;
	background-color: #4a435f ;
	color: #eadce8;
}

.nav__list-sub.nav__list-sub--instr a:hover {
	background-color: #4A5B8A;
}

/*===content===*/

.header {
	margin-bottom: 50px;
}

.content {
	padding-top: 130px;
}

.content__title {
	margin: 0;
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 20px;
}

.content__title-name,
.content__title-taxt {
	display: block;
	margin: 0;
	text-transform: uppercase;
}

.content__title-name {
	padding: 10px;
	font-weight: 700;
	background-color: #4a435f;
	color: #eadce8;
}

.content__title-taxt {
	font-weight: 400;
	padding: 14px;
	background-color: #e4d0e1;
}

.content__subtitle {
	display: inline-block;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #eadce8;
	background-color: #4a435f;
}

.content__text {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	text-align: justify;
}

.content__text .content__text--bold {
	font-weight: bold;
}

@media (max-width: 900px) {
	.nav__item:hover .nav__list-sub {
		display: block;
	}

	.nav__item,
	.nav__item-link,
	.nav__item-link a {
		background-color: #4a435f;
	}

	.nav__list-sub {
		top: 50px;
	}
}

@media (max-width: 800px) {
	.nav__item {
		display: inline-block;
	}

	.nav__item--doc .nav__list-sub {
		top: 66px;
	}

}

@media (max-width: 688px) {
.nav__list {
	background-color: #4a435f;
	}

	.nav__item,
	.nav__item-link a {
		display: block;
		min-height: 50px;
		padding: 0 10px;
		padding-top: 17px;
		font-size: 14px;
		line-height: 16px;
		color: #eadce8;
		text-transform: uppercase;
	}

	.nav__item--doc {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.nav__item--doc .nav__list-sub {
		top: 51px;
	}

	.nav__list-sub.nav__list-sub--instr a {
		padding: 16px 10px;
		padding-left: 14px;
	}
}

@media (max-width: 627px) {
	.nav__item--doc .nav__list-sub {
		top: 68px;
	}
	.nav.wrapper {
		padding: 0;
	}
}

@media (max-width: 480px) {

	.nav__item--doc .nav__list-sub {
		top: 81px;
	}

	.nav__item--doc .nav__list-sub.nav__list-sub--instr a {
		padding: 10px 10px;
		padding-left: 14px;
	}

	.content__text {
	text-align: left;
}
}



/*#eadce8 светлый
#e4d0e1 светлый ховер
#4a435f темный*/